html, body, .container, .full {
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#chip8 {
    height: 32px;
    width: 64px;
    zoom: 1000%
}

.center {
    margin: 0 auto;
}