* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.valign-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.valign-wrapper .valign {
    display: block;
}

.center {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#chip8 {
    height: 32px;
    width: 64px;
}